.tooltip {
  position: relative;
  display: inline-block;
  height: 16px;
  transform: translateY(16%);
}

.tooltip-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 12px;
}

.tooltip-icon::before {
  font-family: Dashicons;
  font-size: 16px;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  text-align: center;
  content: "\f223";
  cursor: help;
}

.tooltip .tooltiptext {
  font-size: 11px;
  font-weight: 400;
  font-variant: normal;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  width: max-content;
  max-width: 220px;
  background-color: #555;
  margin-left: -60px;
  padding: 8px 12px;
  opacity: 0;
  transition: opacity 0.3s;
  left: 95px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -5px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}